*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  max-width: 1250px;
  margin: auto;
  background-color: #eaeaea;
  font-size: 2.8rem;

  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

header {
  text-align: center;
  color: #0802ff;
  width: 100%;
  padding: 2rem;
}

section {
  display: flex;
  width: 100%;

  .text {
    display: flex;
    align-items: center;

    width: 50%;
    text-align: right;
    padding: 2rem;
  }

  #gallery {
    position: relative;
    width: 50%;
    background-color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

footer {
  text-align: center;
  color: #008001;
  width: 100vw;
  padding-top: 3rem;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  height: 150px;
  width: 150px;
  margin: 11px;

  .image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  figcaption {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 2rem;
  }
}
