*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  max-width: 1250px;
  margin: auto;
  background-color: #eaeaea;
  font-size: 2.6rem;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box; }

header {
  text-align: center;
  color: #0802ff;
  width: 100vw;
  padding: 2rem;
  font-size: 2.2rem; }

section {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  section .text {
    display: flex;
    align-items: center;
    width: 50%;
    text-align: right;
    padding: 2rem; }
    @media (max-width: 375px) {
      section .text {
        width: 100%; } }
  section #gallery {
    position: relative;
    width: 50%;
    background-color: white;
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media (max-width: 375px) {
      section #gallery {
        width: 100%; } }

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 150px;
  width: 150px;
  margin: 11px; }
  figure .image {
    object-fit: cover;
    height: 100%;
    width: 100%; }
  figure figcaption {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 1.8rem; }

footer {
  text-align: center;
  color: #008001;
  width: 100vw;
  padding-top: 3rem;
  padding-bottom: 3rem; }
